In [1]:
import os
images = []
for dirs, subdirs, files in os.walk('Phoenix1'):
    images.append(files)

images[0][:5]

['20141201_1115.jpg',
 '20140923_1210.jpg',
 '20141205_1615.jpg',
 '20140627_1510.jpg',
 '20140820_1545.jpg']

In [2]:
flattened_images_list = [image for images_item in images for image in images_item]
flattened_images_list[:5]

['20141201_1115.jpg',
 '20140923_1210.jpg',
 '20141205_1615.jpg',
 '20140627_1510.jpg',
 '20140820_1545.jpg']

In [3]:
len(flattened_images_list)

4306

In [4]:
import pandas as pd 
df = pd.read_csv('archive/pollution_us_2000_2016.csv')

In [5]:
df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [6]:
#weather data for phoenix, arizona
rslt_df = df[df['City'] == 'Phoenix']

In [7]:
rslt_df['Date Local'][:5]

0    2000-01-01
1    2000-01-01
2    2000-01-01
3    2000-01-01
4    2000-01-02
Name: Date Local, dtype: object

In [8]:
formated_date_list= []
for date in rslt_df['Date Local']:
    date = date.replace("-","")
    formated_date_list.append(date)
print(formated_date_list[:5])
print(len(formated_date_list))
rslt_df['Date Local'] = formated_date_list

['20000101', '20000101', '20000101', '20000101', '20000102']
37912

/tmp/ipykernel_125194/3397531685.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rslt_df['Date Local'] = formated_date_list

In [49]:
rslt_df.columns

Index(['Unnamed: 0', 'State Code', 'County Code', 'Site Num', 'Address',
       'State', 'County', 'City', 'Date Local', 'NO2 Units', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [52]:
rslt_df['SO2 AQI']

0          13.0
1          13.0
2           NaN
3           NaN
4           4.0
           ...
1723328     NaN
1723329     0.0
1723330     0.0
1723331     NaN
1723332     NaN
Name: SO2 AQI, Length: 69840, dtype: float64

In [42]:
rslt_df['Date Local'][rslt_df['Date Local'] == '20160331'].index

Int64Index([1723329, 1723330, 1723331, 1723332], dtype='int64')